<div class="container-fluid m0 p0 bg-medium-gray-text navbar-height" style="line-height: 60px;position: fixed;bottom: 0;">
  <div class="row mx-responsive m0 p0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
      <footer class="" >
        <p class="min-size m0 neutral-blue-2 text-center">MIT license &copy;
          <%= site.author %>,
          <%= site.currentYear %>.
        </p>
      </footer>
    </div>
  </div>
</div>