<div class="container">
<h1 class="dark-blue mt3 text-center">Azooid Bot Dashboard</h1>
<p class="lead">A multipurpose Discord bot with many features like Meme generation , fun commands , music commands , game
  commands , text edits , Moderation , ETC To get in depth info on bot visit <a href="/commands.html">here</a>.<br />
  Bot is being hosted on free server so feel free to donate me to make bot better donate link is below</p>
<p class="lead">
  <a class="btn btn-primary text-center" href="/commands" role="button">Command Help »</a>
</p>
<p class="text-center alert alert-danger" role="alert">
    Currently looking for bot hosting provider
</p>
<img src="/assets/images/banner-azooid.jpg" style="margin-left: auto;margin-right: auto;">
</div>
