<div class="jumbotron">
    <div>
      <h1>Azooid Bot Dashboard</h1>
      <p class="lead">A multipurpose Discord bot with many features like Meme generation , fun commands , music commands , game
        commands , text edits , Moderation , ETC To get in depth info on bot visit <a href="/commands">here</a>.<br />
        Bot is being hosted on free server so feel free to donate me to make bot better donate link is below</p>
      <!--p class="lead">
        <a class="btn btn-primary" href="/commands" role="button">Command Help »</a>
      </p-->
      <p>
          Currently looking for bot hosting provider
      </p>
    </div>
  </div>